---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <style>
        html, body {
            background-color: #5d4d7a;
        }
    </style>
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <main role="main" class="content">
                {{ content }}
            </main>
        {% include scripts.html %}
    </body>
    <footer>
    <p>Made with <span id="heart">💚</span> in Cincinnati, OH</p>
    </footer>
</html>
